//! **************************************************************************
// Written by: Map J.36 on Sat Jun 11 00:02:17 2022
//! **************************************************************************

SCHEMATIC START;
COMP "uut_input<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "uut_input<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "uut_input<2>" LOCATE = SITE "E7" LEVEL 1;
COMP "uut_input<3>" LOCATE = SITE "D7" LEVEL 1;
COMP "SEL_TEST_OUT<0>" LOCATE = SITE "P12" LEVEL 1;
COMP "uut_input<4>" LOCATE = SITE "D8" LEVEL 1;
COMP "SEL_TEST_OUT<1>" LOCATE = SITE "P11" LEVEL 1;
COMP "uut_input<5>" LOCATE = SITE "D10" LEVEL 1;
COMP "uut_input<6>" LOCATE = SITE "B4" LEVEL 1;
COMP "uut_input<7>" LOCATE = SITE "B5" LEVEL 1;
COMP "uut_input<8>" LOCATE = SITE "B6" LEVEL 1;
COMP "uut_input<9>" LOCATE = SITE "A7" LEVEL 1;
COMP "Done" LOCATE = SITE "K12" LEVEL 1;
COMP "reset" LOCATE = SITE "L14" LEVEL 1;
COMP "PASS_nFAIL1" LOCATE = SITE "P14" LEVEL 1;
COMP "PASS_nFAIL2" LOCATE = SITE "L12" LEVEL 1;
COMP "uut_input<10>" LOCATE = SITE "A8" LEVEL 1;
COMP "uut_input<11>" LOCATE = SITE "B10" LEVEL 1;
COMP "uut_input<12>" LOCATE = SITE "B11" LEVEL 1;
COMP "uut_input<13>" LOCATE = SITE "A12" LEVEL 1;
COMP "uut_input<14>" LOCATE = SITE "A13" LEVEL 1;
COMP "SEL_TEST<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "SEL_TEST<1>" LOCATE = SITE "G12" LEVEL 1;
COMP "CLK" LOCATE = SITE "T9" LEVEL 1;
COMP "uut_output" LOCATE = SITE "C5" LEVEL 1;
COMP "Start" LOCATE = SITE "L13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
