NET SEL_TEST(0) LOC = F12;
NET SEL_TEST(1) LOC = G12;

NET SEL_TEST_OUT(0) LOC = P12;
NET SEL_TEST_OUT(1) LOC = P11;

NET Start LOC = L13;
NET Reset LOC = L14;
NET CLK LOC = T9;
NET Done LOC = K12;
NET PASS_nFAIL1 LOC = P14;
NET PASS_nFAIL2 LOC = L12;
NET uut_output LOC = C5;

NET uut_input(0) LOC = D5;
NET uut_input(1) LOC = D6;
NET uut_input(2) LOC = E7;
NET uut_input(3) LOC = D7;
NET uut_input(4) LOC = D8;
NET uut_input(5) LOC = D10;
NET uut_input(6) LOC = B4;
NET uut_input(7) LOC = B5;
NET uut_input(8) LOC = B6;
NET uut_input(9) LOC = A7;
NET uut_input(10) LOC = A8;
NET uut_input(11) LOC = B10;
NET uut_input(12) LOC = B11;
NET uut_input(13) LOC = A12;
NET uut_input(14) LOC = A13;
